@{
    ViewData["Title"] = "Home Page";
}


       
         <div class="form-group">

             <div class="form-group row">
                  <div class="input-container col-md-4 mb-3 label-style"  data-labelstyle="Kategori">
                    <input class="form-control" id="categorySearch" autocomplete="off" placeholder="Fra kategori..." type="text" name="name" value="" />
                </div>
                 <div class="input-container col-md-4 mb-3 label-style"  data-labelstyle="Titel">
                    <input class="form-control" id="titleSearch" autocomplete="off" placeholder="Titel eller nummer..." type="text" name="name" value="" />
                </div>
               <div class="input-container col-md-4 mb-3 label-style"  data-labelstyle="Max pris">
                    <input class="form-control" id="priceSearch" autocomplete="off" placeholder="Indtast max pris..." type="number" name="name" value="" />
                </div>
                  <div class="input-container col-md-4 mb-3 label-style"  data-labelstyle="Indhold">
                    <input class="form-control" id="descriptionSearch" autocomplete="off" placeholder="Indeholder..." type="text" name="name" value="" />
                </div>
                 <div class="input-container col-md-4 mb-3 label-style"  data-labelstyle="Menu/Frokost">
                    <select id="lunchSelect" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                        <option value="1">Standard</option>
                        <option value="2">Frokost tilbud</option>
                    </select>
                </div>
                <div class="input-container col-md-4 mb-3 btn-group btn-group-toggle label-style"  data-labelstyle="Sortering" data-toggle="buttons">   
                    <button class="icon-toggle sort input-group-text" style="background: white"><i class="sort-direction-down fas fa-sort-amount-down-alt"></i></button>
                    <label class="label-align-class sort btn btn-secondary active">
                        <input type="radio" name="category" id="option1" autocomplete="off" checked>Kategori
                    </label>
                    <label class="label-align-class sort btn btn-secondary">
                        <input type="radio" name="title" id="option2" autocomplete="off">Titel
                    </label>
                    <label class="label-align-class sort btn btn-secondary">
                        <input type="radio" name="price" id="option3" autocomplete="off">Pris
                    </label>
                </div>
            </div>
        <ul class="list-group" id="listUl"></ul>
    </div>
