@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1>Query food data</h1>
        <label for="priceSearch">Max pris</label>
        <input id="priceSearch" type="text" name="name" value="" />
         <label for="descriptionSearch">Indeholder</label>
        <input id="descriptionSearch" type="text" name="name" value="" />
        <ul class="list-group" id="listUl"></ul>
    </div>
